## Build
* kernel: {{ build.metadata.make_kernelversion }}
* git: {{ build.metadata.git_repo }}
* git branch: {{ build.metadata.git_branch }}
* git commit: {{ build.metadata.git_commit }}
* git describe: {{ build.version }}
* test details: {{ build_url }}

## Regressions (compared to {{ base_build.version }})
{% if regressions|length == 0 %}
No regressions found.
{% else %}
{% for key in regressions %}
{% if regressions[key]|length == 0 %}{% continue %}{% endif %}
### {{ key[0] }}, {{ key[1] }}
{% for t in regressions[key] %}
* {{ t }}
{% endfor %}
{% endfor %}
{% endif %}

## Fixes (compared to {{ base_build.version }})
{% if fixes|length == 0 %}
No fixes found.
{% else %}
{% for key in fixes %}
{% if fixes[key]|length == 0 %}{% continue %}{% endif %}
### {{ key[0] }}, {{ key[1] }}
{% for t in fixes[key] %}
* {{ t }}
{% endfor %}
{% endfor %}
{% endif %}

## Summary
{% for key in summary %}
### {{ key[0] }}, {{ key[1] }}
{% set total = summary[key].pass + summary[key].fail + summary[key].skip + summary[key].xfail %}
* total: {{ total }}
* pass: {{ summary[key].pass }}
* fail: {{ summary[key].fail }}
* skip: {{ summary[key].skip }}
* xfail: {{ summary[key].xfail }}
{% endfor %}

## Environments
{% for e in environments %}
* {{ e }}
{% endfor %}

## Suites
{% for s in suites %}
* {{ s }}
{% endfor %}

## Fails
{% if fails|length == 0 %}
No fails found.
{% else %}
{% for key in fails %}
{% if fails[key]|length == 0 %}{% continue %}{% endif %}
### {{ key[0] }}, {{ key[1] }}
{% for t in fails[key] %}
* {{ t }}
{% endfor %}
{% endfor %}
{% endif %}

## Skips
{% if skips|length == 0 %}
No skips found.
{% else %}
{% for key in skips %}
{% if skips[key]|length == 0 %}{% continue %}{% endif %}
### {{ key[0] }}, {{ key[1] }}
{% for t in skips[key] %}
* {{ t }}
{% endfor %}
{% endfor %}
{% endif %}

--
Linaro LKFT
https://lkft.linaro.org
