## Build
* kernel: {{ build.metadata.make_kernelversion }}
* git: {{ build.metadata.git_repo }}
* git branch: {{ build.metadata.git_branch }}
* git commit: {{ build.metadata.git_commit }}
* git describe: {{ build.version }}
* test details: {{ build_url }}

## Regressions (compared to {{ base_build.version }})
{% if regressions|length == 0 %}
No regressions found.
{% else %}
{% for key in regressions %}
{% if regressions[key]|length == 0 %}{% continue %}{% endif %}
### {{ key[0] }}, {{ key[1] }}
{% for t in regressions[key] %}
* {{ t }}
{% endfor %}
{% endfor %}
{% endif %}

## Fixes (compared to {{ base_build.version }})
{% if fixes|length == 0 %}
No fixes found.
{% else %}
{% for key in fixes %}
{% if fixes[key]|length == 0 %}{% continue %}{% endif %}
### {{ key[0] }}, {{ key[1] }}
{% for t in fixes[key] %}
* {{ t }}
{% endfor %}
{% endfor %}
{% endif %}

Ran {{ total_tests }} total tests in the following environments and test suites.

## Environments
{% for e in environments %}
* {{ e }}
{% endfor %}

## Suites
{% for s in suites %}
* {{ s }}
{% endfor %}

--
Linaro LKFT
https://lkft.linaro.org
